* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  
  
}
body{
  /* background-image: url(../src/assets/bgMalhaarproper.jpg); */
  background-color: #121212;
  overflow-x:auto
  /* object-fit: cover; */
  

}
.bar{
  position: relative;
  right: -20vmax;
  font-size: 2vw;
}
.malhaar img{
  width: 100%;
}

.malhaar {
  width: 15%;
  display: inline;
  font-size: 72px;
  position: relative;


  left: 1.5vmax;
  
  background: linear-gradient(to right, #ff7e5f, #feb47b, #df3e15);
  -webkit-background-clip: text;
  background-clip: text;
}

.nav {
  display: flex;
  height: 35%;
  width: 90vmax;
  align-items: center;
  justify-content: space-around ;
  display: flex;
  position: sticky;
  background-color: #121212;
}
.nav-buttons {
  width: 70%;
  display: flex;

  align-items: center;
  justify-content: center;
}
.nav-buttons button {
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  height: 30px;
  width: 100px;
  color: white;
  background-color: #121212;
  border-color:  rgb(219, 56, 179);

}
.Register {
  position: relative;
  margin-left: 10px;
  width: 10%;
}
.Register button {
  
  margin-left: 20px;
  cursor: pointer;
  margin-right: 20px;
  border-radius: 4px;
  font-size: 22px;
  
  height: 5vh;
  width: 175px;
  color: white;
  background-color: #121212;
  border-color:  #09B9DF;
}

/* .logo{ */
  /* position: absolute; */
  /* z-index: 50; */
  /* opacity: 40%; */
  /* margin: 4rem; */
  /* border-radius: 50px; */
/* } */


.malhaar-logo{

  position: relative;
  display: flex;

  transform: translateX(-25%);
  align-items: center;
  justify-content: center;
  width: 70vmax;
  margin: 0vmax 10rem 0 32vmax;

  
}
.malhaar-logo img{
  width: 100%;
}



.box{
  width: 100vmax;
  display: flex;
  align-items: center;
  justify-content: center;
}
.countDown{
  position : relative;
  display: flex;
  flex-direction: column;
  font-size: 4vmax;
 
  bottom: -5vmax ;
  justify-content: center;
  align-items: center;
  color: #09B9DF;
  
}
.timer{
  color: white;
  display: flex;
  gap: 2vw;
}
.timerText{
  font-size: 1vw;
}


@media screen and (max-width : 900px){
  .bar{
    position: relative;
   font-size: 1.5rem;
    color: #09B9D4;
    display: block;
    right: -10rem;
    cursor: pointer;

  }
  .nav-buttons{
    /* display: none; */
  }
  .malhaar{

  }
}